<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Busca de Filmes e Séries</title>
</head>
<body>

    {% block content %}

        <h2>OMDB API</h2>
        <br>
        <button><a href="{% url 'url_user' %}">Voltar</a></button>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <form action="." method="GET" class="form-inline">
                    <input type="text" id="search" name="search" class="form-control" placeholder="Titulo que deseja buscar">
                    <input type="text" id="search" name="tipo" class="form-control" placeholder="Filme ou Série">
                    <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="Pesquisar">
                </form>
            </div>
        </div>

        <br>

        {% if Response == 'False' %}

            <br>
            <strong>O Título Pesquisado Não Existe!!</strong>

        {% else %}

            {% if Type != 'game' %}

                <li><a href="{% url 'url_novo' %}">Titulo: <strong>{{ Title }}</strong> -- Ano: <strong>{{ Year }}</strong> -- Tipo: <strong>{{ Type }}</strong></a> </li>
                <br>

            {% endif %}

            {% for item in Search %}

                {% if item.Type != 'game' %}

                    <li>Titulo: <strong>{{ item.Title }}</strong> -- Ano: <strong>{{ item.Year }}</strong> -- Tipo: <strong>{{ item.Type }}</strong> </li>
                    <br>

                {% endif %}

            {% endfor %}

        {% endif %}
                
    {% endblock %}

</body>
</html>