<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atualizar Lista de Desejos</title>
</head>
<body>
    
    <form method="POST">

        {% csrf_token %}

        {% if form %}
        
            {{ form.as_p }}

            <button type="submit">Adicionar</button>
            <button><a href="{% url 'url_desejo' %}">Voltar</a> </button>

        {% endif %}

       
        {% if adicionar %}

            <b>Título: </b> {{ adicionar.nome }}
            <br>
            <br>
            <b> Ano: </b> {{  adicionar.ano }}
            <br>
            <br>
            <b> Tipo: </b>{{  adicionar.tipo }}
            <br>
            <br>
            <b>Status: </b>{{ form.status }}
            <br>
            <br>
            
            <button type="submit">Adicionar</button>

            <button><a href="{% url 'url_delete' adicionar.id %}">Remover</a></button>
            <button><a href="{% url 'url_desejo' %}">Voltar</a> </button>

        {% endif %}

    </form>

</body>
</html>